layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    swap_tiled_layout name="vertical" {
        tab max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=5 {
            pane split_direction="horizontal" {
                pane
                pane { children; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        tab min_panes=2 {
            pane stacked=true { children; }
        }
    }
}
